.detail-recipes.content {
    background: #FFF8F4;
    padding: 1rem;
}

.detail-recipes .recipes-author {
    display: flex;
    align-items: center;
}


.detail-recipes .recipes-author img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-right: 0.9rem;
}

.detail-recipes .recipes-author span {
    font-weight: 400;
    color: #000;
}

.detail-recipes .recipes-author .user-info p {
    margin-bottom: 0;
    color: #656565;
    font-size: .8rem;
}

.detail-recipes .food-gallery {
    margin-top: 1rem;
    position: relative;
}

.detail-recipes .food-gallery img.main {
    width: 50%;
    margin: 1rem 0;
    margin-top: 0;
}

.detail-recipes .food-gallery .small-gallery {
    display: flex;
    gap: 1rem;
}

.detail-recipes .food-gallery .small-gallery img {
    width: 20%;
}

.detail-recipes .card.recipes-property {
    width: 100%;
    margin-top: 1rem;
}

.detail-recipes .card.recipes-property table tbody tr td {
    padding-left: .5rem;
}

.detail-recipes .recipes-property li {
    margin-top: 0.7rem;
    font-weight: 400;
    margin-right: 0.5rem;
}

.detail-recipes .recipes-property .line,
.detail-recipes .recipes-body .line {
    height: 2px;
    width: 100%;
    background: #FF8E5E;
    margin-bottom: 1rem;
}

.detail-recipes .recipes-property .line {
    width: 60%;
}

.detail-recipes .recipes-body .directions {
    margin-top: 2rem;
}

.detail-recipes .recipes-body .card.card-directions {
    border: 0;
    border-radius: 1rem;
}

.detail-recipes .recipes-body .card.card-directions li p {
    font-weight: 100;
}

.detail-recipes .recipes-header h2.recipes-title,
.detail-recipes .recipes-author,
.detail-recipes .card.recipes-property,
.detail-recipes .food-gallery {
    z-index: 3;
}