.home.content {
    background: #FFF8F4;
    padding: 1rem;
    margin-top: 2.5rem;
}


.home.content .card-header {
    background: unset;
    border: 0;
    position: relative;
}

.home.content .recipes-gallery .card-header .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.585);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.home.content .card-header:hover .overlay {
    opacity: 1;
}


.home.content .recipes-gallery .card-header span.author {
    color: #fff;
}

.home.content .recipes-description {
    background: #FFEFE9;
    padding: 1rem;
    border-radius: 0.5rem;

}

.home.content .recipes-description ul li {
    font-weight: 100;
}

.home.content .recipes-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.home.content .line {
    height: 2px;
    width: 25%;
    background: #FF8E5E;
    margin-bottom: 1rem;
}

.home.content {}