.home .main-header {
    padding: 1rem;
}

.home .slogan-div {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
}

.home .slogan-div p {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.home .btn.get-started {
    background: #FF8E5E;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    width: 50%;
    padding: 1rem;
    transition: 0.5s;
}

.home .btn.get-started:hover {
    background: #fff;
    color: #FF8E5E;
    box-shadow: 0 3px 0.1rem #FF8E5E;
}