.home.content {
    background: #FFF8F4;
    padding: 1rem;
    margin-top: 2.5rem;
}

.home .card-header {
    background: unset;
    border: 0;
}

.home .recipes-description {
    background: #FFEFE9;
    padding: 1rem;
    border-radius: 0.5rem;

}

.home .recipes-description ul li {
    font-weight: 100;
}

.home .recipes-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.home .line {
    height: 2px;
    width: 25%;
    background: #FF8E5E;
    margin-bottom: 1rem;
}