#SignInModal .modal-content {
    background: #E5E5E5;
}

.form-login {
    padding: 1rem;
}


.form-login input[type='text'],
.form-login input[type='email'],
.form-login input[type='password'] {
    margin: 0.5rem 0.5rem;
    border: 0;
}

.form-login input[type='text']:focus,
.form-login input[type='email']:focus,
.form-login input[type='password']:focus {
    box-shadow: unset;
    border-bottom: 2px solid #FF8E5E;
}

.form-login label[for='rememberMe'],
.form-login input[type='checkbox'],
.form-login .forgot-password a {
    font-size: 0.9rem;
    cursor: pointer;
    color: #000;
}

.form-login label[for='terms-agreement'] {
    font-size: 0.8rem;

}

.form-login .form-check {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.form-login input[type='checkbox'].form-check-input {
    transition: 0.5s;
    font-size: 0.9rem;
    margin-top: 0;
}

.form-login input[type='checkbox'].form-check-input:checked {
    background-color: #FF8E5E;
    border-color: #FF8E5E;
}


.form-login .btn.login {
    background-color: #FF8E5E;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.form-login .btn.login:hover {
    background: #fff;
    color: #FF8E5E;
    box-shadow: 0 3px 0.1rem #FF8E5E;
}

.form-login .input-password-container {
    position: relative;
}

.form-login .password-icon {
    position: absolute;
    right: 0;
    z-index: 9999;
    top: 0.7rem;
    cursor: pointer;
}


.form-login .login-social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login .submit-container p {
    margin-bottom: 0;
}

.form-login .submit-container span.login-facebook,
.form-login .submit-container span.login-google {
    color: #395185;
    cursor: pointer;
}

.form-login .submit-container span.login-facebook {
    font-size: 2rem;
    margin-right: 1rem;
}

.form-login .submit-container span.login-google {
    font-size: 2.2rem;
}