@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: #E5E5E54A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}

a {
  text-decoration: none;
}

.main-color {
  color: #FF8E5E;
}

.main-color:hover {
  color: #fc5108;
}

.bg-half-circle {
  position: absolute;
  right: 0;
  bottom: -100%;
}