.navbar-nav {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.navbar-light .navbar-toggler {
    color: #FF8E5E;
    border: 1px solid #FF8E5E;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}

.navbar-light .search-form {
    justify-content: end;
}

.navbar-light .search-form .input-group {
    width: 70%;
}

.navbar-light .search-form .input-group button,
.navbar-light .search-form .input-group input {
    border: 0;
}

.navbar-light .search-form .input-group input:focus {
    box-shadow: unset;
    border-bottom: 2px solid #FF8E5E;
}


.navbar-light .search-form .input-group button {
    background: #fff;
    color: rgb(187, 187, 187);
}


.navbar-light .search-form .input-group input::placeholder {
    color: rgb(187, 187, 187);
}

.navbar-light .btn.sign-in {
    background-color: #FF8E5E;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.navbar-light .btn.sign-in:hover {
    background: #fff;
    color: #FF8E5E;
    box-shadow: 0 3px 0.1rem #FF8E5E;
}

.navbar-light .navbar-nav li .active {
    background: #ececec;
    padding: 0.5rem;
    border-radius: 0.3rem;
}