.navbar-nav {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-light .navbar-toggler {
    color: #FF8E5E;
    border: 1px solid #FF8E5E;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}

.navbar-light .search-form {
    justify-content: end;
}

.navbar-light .search-form .input-group {
    width: 70%;
}

.navbar-light .search-form .input-group button,
.navbar-light .search-form .input-group input {
    border: 0;
}

.navbar-light .search-form .input-group input:focus {
    box-shadow: unset;
    border-bottom: 2px solid #FF8E5E;
}


.navbar-light .search-form .input-group button {
    background: #fff;
    color: rgb(187, 187, 187);
}


.navbar-light .search-form .input-group input::placeholder {
    color: rgb(187, 187, 187);
}

.navbar-light .btn.sign-in {
    background-color: #FF8E5E;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

.navbar-light .btn.sign-in:hover {
    background: #fff;
    color: #FF8E5E;
    box-shadow: 0 3px 0.1rem #FF8E5E;
}

.navbar-light .navbar-nav li .active {
    background: #ececec;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

nav.navbar .user-avatar-container {
    cursor: pointer;
    position: relative;
}

nav.navbar .user-avatar-container span.greeting {
    margin-right: .5rem;
    display: inline-block;
    color: rgb(120, 120, 120);
}

nav.navbar img.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav.navbar .dropdown-menu {
    right: 1rem;
    top: 4rem;
}

nav.navbar ul.dropdown-menu li *:hover {
    background-color: #FF8E5E;
    transition: .3s;
    color: #fff;
}

nav.navbar ul.dropdown-menu li .active {
    background-color: #FF8E5E;
}

/* RESPONSIVE */
@media (max-width: 576px) {
    nav.navbar .user-avatar-container span.greeting {
        display: none;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}