form.add-recipes .add-recipes-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
}

form.add-recipes .line {
    height: 2px;
    background: #FF8E5E;
    margin-bottom: 1rem;
}

form.add-recipes .add-recipes-title .line {
    width: 25%;
}

form.add-recipes .detail-recipes .line {
    width: 16%;
}

form.add-recipes .form-group,
form.add-recipes .form-group {
    position: relative;
}

form.add-recipes .form-group span.insert-emoji-icon,
form.add-recipes .ingredients .form-group .remove-icon,
form.add-recipes .steps .form-group .remove-icon {
    position: absolute;
    right: 1.2rem;
    top: 0.5rem;
    color: #FF8E5E;
    cursor: pointer;
    font-size: 1.3rem;
}

form.add-recipes .form-group span.insert-emoji-icon.text {
    top: 0rem;
}

form.add-recipes .form-group span.insert-emoji-icon.text-area {
    top: 0rem;
}

form.add-recipes .form-group .emoji-container {
    z-index: 9999;
    margin-bottom: 1rem;
    display: none;
}

form.add-recipes .form-group .emoji-container .emoji-picker-react {
    width: 100%;
}

form.add-recipes .form-group .emoji-container .emoji-picker-react .emoji-categories {
    justify-content: center;
    gap: 1rem;
}

form.add-recipes .ingredients .form-group .remove-icon:hover,
form.add-recipes .steps .form-group .remove-icon:hover {
    color: #ddd;
    transition: 0.5s;
}

form.add-recipes .ingredients .line {
    width: 15%;
}

form.add-recipes .steps .line {
    width: 8%;
}

form.add-recipes .primary-gallery,
form.add-recipes .secondary-gallery {
    border-bottom: 1px solid #FF8E5E80;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
}

form.add-recipes .preview-recipe-img {
    margin: 0.1rem;
    cursor: pointer;
    transition: 0.3s;
}

form.add-recipes .primary-gallery .preview-recipe-img {
    width: 99%;
}

form.add-recipes .secondary-gallery .preview-recipe-img {
    width: 24%;
}

form.add-recipes .preview-recipe-img:hover {
    filter: brightness(30%);
}

/* DROPZONE CSS */

.dzu-dropzone {
    overflow: hidden !important;
    display: block !important;
    margin-top: 0.5rem;
    border: 0 !important;
}

.dzu-dropzone .dzu-inputLabelWithFiles {
    display: inline-block;
    position: relative;
    left: -10%;
    top: -1rem;
    transform: translate(50%, 50%);
    color: #FF8E5E;
    min-height: unset;
    padding: 0.5rem;
}

.dzu-dropzone .dzu-inputLabel {
    color: #FF8E5E;
}

.secondary-gallery .dzu-dropzone .dzu-inputLabel {
    font-size: .8rem;
}

.dzu-dropzone .dzu-submitButtonContainer {
    position: relative;
    text-align: center;
}

.dzu-dropzone .dzu-submitButtonContainer .dzu-submitButton {
    background-color: #FF8E5E;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
    width: 7rem;
    margin: 0.5rem 1rem;
}

.dzu-dropzone .dzu-submitButtonContainer .dzu-submitButton:hover {
    background: #fff;
    color: #FF8E5E;
    box-shadow: 0 3px 0.1rem #FF8E5E;

}

form.add-recipes .input-gallery .image-gallery img {
    width: 90px;
}

form.add-recipes .form-group {
    margin: 0.5rem 0rem;
}

form.add-recipes input,
form.add-recipes textarea,
form.add-recipes select {
    border: 0;
}

form.add-recipes .form-group input:focus,
form.add-recipes .form-group textarea:focus,
form.add-recipes .form-group select:focus {
    box-shadow: unset;
    border-bottom: 2px solid #FF8E5E;
}

form.add-recipes .form-group input::placeholder,
form.add-recipes .form-group textarea::placeholder {
    color: rgb(187, 187, 187);
}

.publish {
    text-align: center;
}

form.add-recipes button.btn.add-more,
.publish button.btn {
    background-color: #FF8E5E;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
    margin: 0.5rem 1rem;
}

form.add-recipes button.btn.add-more {
    width: 7rem;
}

.publish button.btn {
    margin-top: 1rem;
    width: 15rem;
}

form.add-recipes button.btn.add-more:hover,
.publish button.btn:hover {
    background: #fff;
    color: #FF8E5E;
    box-shadow: 0 3px 0.1rem #FF8E5E;
}



/* RESPONSIVE */
@media (max-width: 576px) {
    .publish {
        text-align: right;
    }

    .publish button.btn {
        width: 10rem;
    }

    form.add-recipes .add-recipes-title .line {
        width: 65%;
    }

    form.add-recipes .detail-recipes .line {
        width: 40%;
    }

    form.add-recipes .ingredients .line {
        width: 35%;
    }

    form.add-recipes .steps .line {
        width: 20%;
    }
}

@media (min-width: 576px) {
    .publish {
        text-align: right;
    }

    form.add-recipes .add-recipes-title .line {
        width: 52%;
    }

    form.add-recipes .detail-recipes .line {
        width: 35%;
    }

    form.add-recipes .ingredients .line {
        width: 30%;
    }

    form.add-recipes .steps .line {
        width: 17%;
    }
}

@media (min-width: 768px) {
    .publish {
        text-align: center;
    }

    form.add-recipes .add-recipes-title .line {
        width: 43%;
    }

    form.add-recipes .detail-recipes .line {
        width: 27%;
    }

    form.add-recipes .ingredients .line {
        width: 25%;
    }

    form.add-recipes .steps .line {
        width: 14%;
    }
}

@media (min-width: 992px) {
    form.add-recipes .add-recipes-title .line {
        width: 35%;
    }

    form.add-recipes .detail-recipes .line {
        width: 22%;
    }

    form.add-recipes .ingredients .line {
        width: 20%;
    }

    form.add-recipes .steps .line {
        width: 11%;
    }
}

@media (min-width: 1200px) {
    form.add-recipes .add-recipes-title .line {
        width: 27%;
    }

    form.add-recipes .detail-recipes .line {
        width: 16%;
    }

    form.add-recipes .ingredients .line {
        width: 14%;
    }

    form.add-recipes .steps .line {
        width: 9%;
    }
}